@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tektur:wght@800&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: orange;
    color: black;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.logo-brand {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
}
.nav-logo {
    width: 33px;
    height: 33px;
    background-image: url(../images/hoop-tribe-logoo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-brand {
    font-family: 'Tektur', cursive;
    font-weight: 600;
    font-size: 27px;
}
.nav-list {
    display: flex;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    align-items: center;
    padding-right: 100px;
}
.nav-item {
    display: flex;
    align-items: center;
    padding: 0 12px 0 0;
}
.nav-item a {
    text-decoration: none;
    color: black;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
body {
    background-color: rgb(21, 20, 20);
}
.hero-section {
    background-image: url(../images/hero-section-dark.jpeg);
    height: 590px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-sec-container {
    width: 500px;
    padding: 130px 0 0 90px;
}
.hero-section-text {
    color: black;
    font-size: 70px;
    font-family: 'Tektur', cursive;
    text-shadow: 4px 4px 4px white;
}
.about-us-container {
    padding: 120px 0 0 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.about-us-image {
    width: 310px;
    height: 310px;
    background-image: url(../images/hoop-tribe-logo-white.png);
    background-size: cover;
    background-position: center;
}
.about-us-card-content {
    color: white;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
    padding: 20px;
    justify-content: space-evenly;
    text-align: justify;
}
.about-us {
    font-family: 'Tektur', cursive;
    font-size: 30px;
    font-weight: 700;
}
.about-us-card-text {
    font-family: 'Raleway', sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    padding: 120px 0 120px 0;
    margin: 0 20px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid rgba(255, 166, 0, 0.24);
}
.card {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card-content {
    color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    padding: 20px;
    justify-content: space-evenly;
    text-align: justify;
}
.card-title {
    font-family: 'Tektur', cursive;
    font-size: 25px;
    font-weight: 700;
}
.card-text {
    font-family: 'Raleway', sans-serif;
}
.image-1 {
    width: 300px;
    height: 300px;
    background-image: url(../images/hard-maple-court.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image-2 {
    width: 300px;
    height: 300px;
    background-image: url(../images/high-end-equipments.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image-3 {
    width: 300px;
    height: 300px;
    background-image: url(../images/electrolyte-beverages.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.review-section {
    padding: 60px 0 80px 0;
}
.reviews {
    color: white;
    font-family: 'Tektur', cursive;
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
}
.reviews-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 0 20px;
    justify-content: space-evenly;
    align-items: center; 
}
.review-card {
    background-color: rgba(255, 166, 0, 0.632);
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;
}
.review-content {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    padding: 20px;
    justify-content: space-evenly;
    text-align: justify;
}
.review-name {
    font-family: 'Tektur', cursive;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}
.review-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.profile-pic-1 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(../images/profile-pic-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-pic-2 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(../images/profile-pic-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-pic-3 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(../images/profile-pic-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-pic-4 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(../images/profile-pic-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
footer {
    width: 100%;
    height: 200px;
    background-color: orange;
}
.footer-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin: 0 20px;
    justify-content: space-evenly;
    align-items: center;
}
.footer-card {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-title {
    font-family: 'Tektur', cursive;
    font-size: 19px;
    font-weight: 500;
}
.footer-text {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}
.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.384);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}
.social-links a:hover{
    color: #24262b;
    background-color: white;
}
.copyright {
    margin-top: 26px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #000000be;
}

@media only screen and (max-width: 860px){
    .logo-brand {
        padding-left: 100px;
    }
    .nav-list {
        padding-right: 50px;
    }
}
@media only screen and (max-width: 640px){
    .logo-brand {
        padding-left: 50px;
    }
    .nav-list {
        padding-right: 25px;
    }
}
@media only screen and (max-width: 549px){
    .logo-brand {
        padding-left: 25px;
    }
    .nav-list {
        padding-right: 12px;
    }
}
@media only screen and (max-width: 512px){
    .logo-brand {
        padding-left: 0px;
    }
    .nav-list {
        padding-right: 0px;
    }
}
@media only screen and (max-width: 960px) {
    .reviews-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .about-us-container {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 1168px) {
    .reviews-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 1019px){
    .hero-section {
        width: 100%;
    }
} 
@media only screen and (max-width: 797px){
    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }
    footer {
        width: 100%;
        height: 100%;
    }
}
