@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tektur:wght@800&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(21, 20, 20);
}
.nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: orange;
    color: black;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.logo-brand {
    display: flex;
    flex-direction: row;
    padding-left: 140px;
}
.nav-logo {
    width: 33px;
    height: 33px;
    margin-right: 6px;
    background-image: url(../images/hoop-tribe-logoo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-brand {
    font-family: 'Tektur', cursive;
    font-weight: 600;
    font-size: 27px;
}
.nav-list {
    display: flex;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    align-items: center;
    padding-right: 100px;
}
.nav-item {
    display: flex;
    align-items: center;
    padding: 0 12px 0 0;
}
.nav-item a {
    text-decoration: none;
    color: black;
}
.package-deals {
    color: white;
    font-family: 'Tektur', cursive;
    font-size: 50px;
    font-weight: 1000;
    padding: 130px 0 40px 0;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px 50px 50px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid rgba(255, 166, 0, 0.24);
}
.card {
    background-color: rgba(255, 255, 255, 0.89);
    width: 400px;
    height: 450px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5%;
}
.card-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    padding: 20px 20px 0 20px;
    justify-content: space-evenly;
}
.card-title {
    font-family: 'Tektur', cursive;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
}
.price {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.651);
    padding-bottom: 20px;
    text-align: center;
}
.card-text {
    font-family: 'Raleway', sans-serif;
}
.register-btn {
    padding-bottom: 22px;
}
.register {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    width: 100px;
    padding: 13px 0;
    margin: 10px;
    background-color: rgba(255, 166, 0, 0.651);
    color: rgba(0, 0, 0, 0.822);
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s ease;
}
.register:hover {
    color: black;
    background-color: orange;
}
.level-section {
    padding: 60px 0 100px 0;
}
.levels {
    color: white;
    font-family: 'Tektur', cursive;
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
}
.level-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.level-card-beginner {
    background-color: rgba(255, 181, 45, 0.9);
    width: 300px;
    height: 240px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5%;
}
.level-card-intermediate {
    background-color: rgba(255, 181, 45, 0.733);
    width: 300px;
    height: 240px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5%;
}
.level-card-advanced {
    background-color: rgba(255, 181, 45, 0.564);
    width: 300px;
    height: 240px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5%;
}
.level-card-content {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 240px;
    padding: 20px;
    justify-content: space-evenly;
}
.level-title {
    font-family: 'Tektur', cursive;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 0px;
    text-align: center;
}
.level-text {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}
footer {
    width: 100%;
    height: 200px;
    background-color: orange;
}
.footer-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin: 0 20px;
    justify-content: space-evenly;
    align-items: center;
}
.footer-card {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-title {
    font-family: 'Tektur', cursive;
    font-size: 19px;
    font-weight: 500;
}
.footer-text {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}
.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.384);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}
.social-links a:hover{
    color: #24262b;
    background-color: white;
}
.copyright {
    margin-top: 26px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #000000be;
}

@media only screen and (max-width: 860px){
    .logo-brand {
        padding-left: 100px;
    }
    .nav-list {
        padding-right: 50px;
    }
}
@media only screen and (max-width: 640px){
    .logo-brand {
        padding-left: 50px;
    }
    .nav-list {
        padding-right: 25px;
    }
}
@media only screen and (max-width: 549px){
    .logo-brand {
        padding-left: 25px;
    }
    .nav-list {
        padding-right: 12px;
    }
}
@media only screen and (max-width: 512px){
    .logo-brand {
        padding-left: 5px;
    }
    .nav-list {
        padding-right: 0px;
    }
}
@media only screen and (max-width: 987px){
    .level-container{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width: 767px){
    .footer-container {
        width: 50%;
        margin-bottom: 50px;
    }
}
@media(max-width: 574px){
    .footer-container {
        width: 100%;
    }
}
@media only screen and (max-width: 797px){
    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }
    footer {
        width: 100%;
        height: 100%;
    }
} 